    .gradient-custom-3 {
        /* fallback for old browsers */
        background: #F9F7F3;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(top, #F9F7F3, #F7FFF7);

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to bottom, #F9F7F3, #F7FFF7);
    }

    .gradient-custom-4 {
        /* fallback for old browsers */
        /* background: #84fab0; */
        background: #D49E8C;

        /* Chrome 10-25, Safari 5.1-6 */
        /* background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1)); */
        background: -webkit-linear-gradient(top, #F9F7F3, #F7FFF7);

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        /* background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1)) */
        background: linear-gradient(bottom, #F9F7F3, #F7FFFF);

    }